<?xml version="1.0"?>
<launch>
    <arg name="input_topic" default="/my_camera/pylon_ros2_camera_node/image_raw" />
    <arg name="show_image_frame" default="true" />
    <arg name="cascade_file" default="$(find-pkg-share common)/config/cascade.xml" />
    <include file="$(find-pkg-share pylon_ros2_camera_wrapper)/launch/pylon_ros2_camera.launch.py" />
    <node pkg="legacy_measurement" exec="legacy_measurement.py" name="legacy_measurement" output="screen">
        <param name="input_topic" value="$(var input_topic)" />
        <param name="show_image_frame" value="$(var show_image_frame)" />
        <param name="cascade_file" value="$(var cascade_file)" />
    </node>
</launch>