<?xml version="1.0"?>
<launch>
    <arg name="input_topic" default="/webcam/image_raw" />
    <arg name="show_image_frame" default="true" />
    <arg name="cascade_file" default="$(find-pkg-share common)/config/cascade.xml" />
    <arg name="video_file" default="" />
    <arg name="bdf_file" default="" />
    <node pkg="legacy_measurement" exec="legacy_measurement.py" name="legacy_measurement" output="screen">
        <param name="input_topic" value="$(var input_topic)" />
        <param name="show_image_frame" value="$(var show_image_frame)" />
        <param name="cascade_file" value="$(var cascade_file)" />
        <param name="video_file" value="$(var video_file)" />
        <param name="bdf_file" value="$(var bdf_file)" />
    </node>
</launch>
