[submodule "src/dragandbot_common"]
	path = src/dragandbot_common
	url = https://github.com/l1sa3/dragandbot_common.git
	branch = ros2-port
[submodule "src/pylon_ros2_camera"]
	path = src/pylon_ros2_camera
	url = https://github.com/basler/pylon-ros-camera.git
	branch = humble