<?xml version="1.0"?>
<launch>
  <arg name="input_topic" default="/webcam/image_raw"/>
  <arg name="show_image_frame" default="false"/>
  <arg name="cascade_file" default="$(find-pkg-share common)/config/cascade.xml"/>
  <arg name="video_file" default=""/>
  <arg name="bdf_file" default=""/>
  <arg name="show_plot" default="false"/>

  <node pkg="pulse_head_movement" exec="pulse_head_movement.py" name="pulse_head_movement" output="screen">
    <param name="input_topic" value="$(var input_topic)"/>
    <param name="show_image_frame" value="$(var show_image_frame)"/>
    <param name="cascade_file" value="$(var cascade_file)"/>
    <param name="video_file" value="$(var video_file)"/>
    <param name="bdf_file" value="$(var bdf_file)"/>
  </node>

  <group if="$(var show_plot)">
    <node pkg="plotjuggler" exec="plotjuggler" name="pulse_plot" args="--layout $(find-pkg-share legacy_measurement)/config/plot_juggler_config.xml"/>
  </group>
</launch>